*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
body{
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: justify;
    background: #FAD401;
}
.container{
    display: inline-grid;
    grid-template-columns: 1fr 4fr 4fr;
}
.menu{
    margin-top: 50px;
    display: flex;
    text-align: center;
    list-style-type: none;
}
.navhref{
    text-decoration: none;
    color: white;
    text-align: center;
    margin-left: 60px;
    font-size: 1.25em;
}
.logo{
    width:120px;
    margin-left: 100px;
    margin-top: 20px;
}
.header{
    background-size: 1600px;
    height: 127px;
    background: rgb(53, 52, 52);
}
.navhref:hover{
    text-decoration: underline;
    text-decoration-color: white;
}
.nav-item:hover > .subnav{
    display: block;
}
.nav-item{
    cursor: default;
}
.subnav{
    list-style-type: none;
    text-decoration: none;
    display: none;
    position: absolute;
    z-index: 1;
    margin-left: 55px;
}
.subnav-link{
    display: block;
    padding: 8px 16px;
    background-color: white;
    color: black;
    text-decoration: none;
    font-size: 1.25em;
}
.subnav-link:hover{
   text-decoration: underline;
   text-decoration-color: black ;
}
.column1{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    justify-content: space-around;
}
.main{
    display: grid;
    grid-template-columns: 1.5fr 1.5fr 1.75fr;
    padding: 10px;
}
.column2{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#more1, #more2, #more3{
    display: none;
}
.img{
    border: solid;
    border-radius: 0.5em;
    border-color: black;
    border-width: 4px;
}
.report{
    border: solid;
    border-radius: 0.5em;
    border-color: black;
    border-width: 4px;
    padding: 12px;
}
.container31{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.column3{
    margin-left: 50px;
}
#button1:hover, #button2:hover, #button3:hover{
    text-decoration-line: underline;
}
#button1, #button2, #button3{
    padding: 3px;
    float: right;
    border-radius: 0.5em;
    background-color: white;
    border-color: white;
    cursor: pointer;
}
.search{
    margin-top: 150px;
}
.search input{
    width: 200px;
    height: 42px;
    padding-left: 10px;
    border: 2px solid black;
    border-radius: 5px 0 0 5px;
    outline: none;
    background: white;
    color: black;
}
.search button{
    position: absolute; 
    width: 42px;
    height: 42px;
    border: none;
    background: white;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    color: white;
    background-color: black;
}
.footer{
    background:rgb(53, 52, 52) ;
    text-align: center;
    color: white;
}
.connect{
    display: grid;
    grid-template-columns: 11fr 1fr 1fr 11fr;
}
